{% extends 'base.html' %}
{% load yolo_filters %}

{% block title %}
upload
{% endblock title %}

{% block content %}
    <h2>Selected Model: {{ selected_detector.title }}</h2>

    {% if annotated_image_url %}
        <h2>Annotated Image:</h2>
        <img src="{{ annotated_image_url }}" alt="Annotated Image" style="max-width: 100%;">
    {% endif %}

    <form action="{% url 'image_upload' selected_detector.pk %}" method="post" enctype="multipart/form-data" class="mt-6">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Upload Image</button>
    </form>
{% endblock content %}


