{% extends "base.html" %}

{% block title %}
dashboard
{% endblock title %}

{% block content %}




<div class='md:ml-auto flex flex-wrap items-stretch text-base justify-center gap-10'>
    <div class="max-w-sm w-full bg-white rounded-lg shadow p-4 md:p-6 m-10 flex flex-col">
        <div class="flex flex-col items-center pb-10 pt-5">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="{{request.user.profile.photo.url}}" alt="Bonnie image"/>
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-black">{{request.user.first_name}} {{request.user.last_name}}</h5>
            <span class="text-sm text-gray-700">@{{request.user.username}}</span>
            <span class="text-sm text-gray-500">{{request.user.email}}</span>
            <hr class="h-px w-48 my-8 mb-2 bg-gray-300 border-0">
            <div class='w-48'>
                <div class="text-gray-900 dark:text-black">
                    <p class="mb-1">
                        <span class="float-left">Gender:</span>
                        <span class="float-right">{{ request.user.profile.gender }}</span>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr class="h-px w-48 my-2 mb-1 bg-gray-300 border-0">
            <div class='w-48'>
                <div class="text-gray-900 dark:text-black">
                    <p class="mb-1">
                        <span class="float-left">Age:</span>
                        <span class="float-right">{{ request.user.profile.age }}</span>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr class="h-px w-48 my-2 mb-1 bg-gray-300 border-0">
            <div class='w-48'>
                <div class="text-gray-900 dark:text-black">
                    <p class="mb-1">
                        <span class="float-left">Favourite Model:</span>
                        <span class="float-right">{{ fav_model|truncatewords:1 }}</span>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <hr class="h-px w-48 my-2 bg-gray-300 border-0">
        </div>
    </div>

    <div class="max-w-sm w-full bg-white rounded-lg shadow p-4 md:p-6 m-10 flex flex-col">
        <div class="flex justify-between items-start w-full">
            <div class="flex-col items-center">
                <div class="flex items-center mb-1">
                    <h5 class="text-xl font-bold leading-none text-gray-900 mr-1">Activity</h5>
                    <svg data-popover-target="chart-info" data-popover-placement="bottom"
                        class="w-3.5 h-3.5 text-gray-600 hover:text-gray-900 cursor-pointer ml-1" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm0 16a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm1-5.034V12a1 1 0 0 1-2 0v-1.418a1 1 0 0 1 1.038-.999 1.436 1.436 0 0 0 1.488-1.441 1.501 1.501 0 1 0-3-.116.986.986 0 0 1-1.037.961 1 1 0 0 1-.96-1.037A3.5 3.5 0 1 1 11 11.466Z" />
                    </svg>
                    <div data-popover id="chart-info" role="tooltip"
                        class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72">
                        <div class="p-3 space-y-2">
                            <h3 class="font-semibold text-gray-900">Usage</h3>
                            <p>This simple Pie Chart will give you insights on which models you have used the most</p>
                            <h3 class="font-semibold text-gray-900">Calculation</h3>
                            <p>The chart simply increments the the usage in regards to the model and returns the portion in
                                percentage</p>
                        </div>
                        <div data-popper-arrow></div>
                    </div>
                </div>
                <div id="dateRangeDropdown"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-80 lg:w-96">
                    <div class="p-3" aria-labelledby="dateRangeButton">
                        <div date-rangepicker datepicker-autohide class="flex items-center">
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path
                                            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                    </svg>
                                </div>
                                <input name="start" type="text"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5"
                                    placeholder="Start date">
                            </div>
                            <span class="mx-2 text-gray-500">to</span>
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path
                                            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                                    </svg>
                                </div>
                                <input name="end" type="text"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5"
                                    placeholder="End date">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Line Chart -->
        <div class="py-6" id="pie-chart"></div>
    </div>

    <script>
        // ApexCharts options and config
        window.addEventListener("load", function () {
            const getChartOptions = () => {
                return {
                    series: {{ series | safe }},
                colors: ["#1D2F6F", "#8390FA", "#FAC748", "#804992", "#F88DAD", "#E3DE8F"],
                chart: {
                    height: 420,
                    width: "100%",
                    type: "pie",
                },
                stroke: {
                    colors: ["white"],
                    lineCap: "",
                },
                plotOptions: {
                    pie: {
                        labels: {
                            show: true,
                        },
                        size: "100%",
                        dataLabels: {
                            offset: -25
                        }
                    },
                },
                labels: {{ labels| safe}},
            dataLabels: {
            enabled: true,
            style: {
                fontFamily: "Inter, sans-serif",
            },
        },
            legend: {
            position: "bottom",
            fontFamily: "Inter, sans-serif",
        },
            yaxis: {
            labels: {
                formatter: function (value) {
                    return value
                },
            },
        },
            xaxis: {
            labels: {
                formatter: function (value) {
                    return value
                },
            },
            axisTicks: {
                show: false,
            },
            axisBorder: {
                show: false,
            },
        },
                }
            }
    
            if (document.getElementById("pie-chart") && typeof ApexCharts !== 'undefined') {
            const chart = new ApexCharts(document.getElementById("pie-chart"), getChartOptions());
            chart.render();
        }
        });
    </script>
</div>


{% endblock content %}